<!-- 廣告輪播 開始 -->
<div class="section">
    <div class="hero-slider swiper-container">
        <div class="swiper-wrapper">

            <div class="hero-slide-item swiper-slide">
                <div class="hero-slide-bg">
                    <img src="~/Front/images/slider/slider1.png" alt="Slider Image" />
                </div>
                <div class="container">
                    <div class="hero-slide-content text-center text-md-end">
                        @*<h5 class="sub-title">We keep pets for pleasure.</h5>
                        <h2 class="title m-0">Vitamins For all Pets</h2>
                        <p>We know your concerns when you are looking for a chewing treat for your dog.</p>
                        <a href="shop.html" class="btn btn-dark btn-hover-primary">Shop Now</a>*@
                    </div>
                </div>
            </div>

            <div class="hero-slide-item swiper-slide">
                <div class="hero-slide-bg">
                    <img src="~/Front/images/slider/slider2.png" alt="Slider Image" />
                </div>
                <div class="container">
                    <div class="hero-slide-content text-start">
                        @*<h5 class="sub-title">We keep pets for pleasure.</h5>
                        <h2 class="title m-0">Vitamins For all Pets</h2>
                        <p class="ms-0">We know your concerns when you are looking for a chewing treat for your dog.</p>
                        <a href="shop.html" class="btn btn-dark btn-hover-primary">Shop Now</a>*@
                    </div>
                </div>
            </div>

        </div>

        <!-- Swiper Pagination Start -->
        <div class="swiper-pagination d-lg-none"></div>
        <!-- Swiper Pagination End -->
        <!-- Swiper Navigation Start -->
        <div class="home-slider-prev swiper-button-prev main-slider-nav d-lg-flex d-none"><i class="icon-arrow-left"></i></div>
        <div class="home-slider-next swiper-button-next main-slider-nav d-lg-flex d-none"><i class="icon-arrow-right"></i></div>
        <!-- Swiper Navigation End -->
    </div>
</div>
<!-- 廣告輪播 結束 -->
