
@{
    ViewData["Title"] = "Chat";
}
<div class="container">
    <div id="userinfo" class="row">
        <label for="username">請輸入聊天室暱稱</label>
        <input type="text" class="form-control" id="username" name="username" autocomplete="off" />
        <button type="button" class="btn btn-block" onclick="SetUsername();">加入聊天室</button>
    </div>
    @*聊天室設定*@
    <div id="messagearea" class="row" style="display:none">
        <div>你好 : <b><span id="username1">Not Set</span></b></div>
        <hr />
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
        <hr />
        <input class="col-md-4" type="text" id="message" autocomplete="off" />
        <input class="col-md-1" type="button" id="sendButton" value="傳送" />
        <input class="col-md-1" type="button" id="bye" value="bye" />
    </div>
</div>



@section Scripts{
    <script src="~/js/signalr.js"></script>
    <script>
        "use strict";  //嚴謹模式
        var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();  //建立連接
        var username = "";

        //將傳送按鈕藏起 直到連線正常
        $("#sendButton").attr("disabled", true)

        connection.on("ReceiveMessage", function (user, message, time) {
            var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;"); //& , < , > 設定三個符號轉譯
            var encodeMsg = user + ": " + msg;

            var t = document.createElement("p");
            t.innerHTML = time;
            t.style.fontSize = "16px";
            t.style.color = "gray";
            t.style.display = "inline";

            var li = document.createElement("li");
            li.style.listStyleType = "none";
            li.style.fontSize = "20px";
            li.append(t, " ", encodeMsg);
            document.getElementById("messagesList").appendChild(li);
        })

        connection.on("NewJoin", function (user, message, time) {
            var t = document.createElement("p");
            t.innerHTML = time;
            t.style.fontSize = "16px";
            t.style.color = "gray";
            t.style.display = "inline";

            var li = document.createElement("li");
            li.style.fontSize = "16px";
            li.style.color = "gray";
            li.innerHTML = `${t.innerHTML} ${user} ${message}`;
            document.getElementById("messagesList").appendChild(li);
        })

        connection.on("Leave", function (user, message, time) {
            var t = document.createElement("p");
            t.innerHTML = time;
            t.style.fontSize = "16px";
            t.style.color = "gray";
            t.style.display = "inline";

            var li = document.createElement("li");
            li.style.fontSize = "16px";
            li.style.color = "gray";
            li.innerHTML = `${t.innerHTML} ${user} ${message}`;
            document.getElementById("messagesList").appendChild(li);
        })

        connection.start().then(function () {
            document.getElementById("sendButton").disabled = false;  //連結建立成功 將傳送按鈕顯示
        }).catch(function (err) {
            return console.error(err.toString());
        })

        $("#bye").on("click", () => {
            connection.onclose(connection.invoke("SendMessage", username, "離開聊天室", ""))
        })

        $("#sendButton").on("click", function (event) {
            var message = $('#message').val();
            connection.invoke("SendMessage", username, message, "").then(function () {
                document.getElementById('message').value = "";
            }).catch(function (err) {
                return console.error(err.toString());
            })
            event.preventDefault();  //取消DOM默認動作
        })

        function SetUsername() {
            //檢查使用者是否輸入暱稱
            var usernameinput = $('#username').val();
            if (usernameinput === "") {
                alert("務必輸入加入聊天室的暱稱")
                return;
            }
            username = usernameinput;

            document.getElementById('userinfo').style.display = 'none';
            document.getElementById('messagearea').style.display = 'block';
            document.getElementById("username1").innerText = usernameinput;

            connection.invoke("SendMessage", username, "加入聊天室", "");
        }
    </script>
}
