
@{
    ViewData["Title"] = "Index";
    Layout = "_FrontLayout";
}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">募集專案</h2>
                    <ul>
                        <li><a asp-controller="Front_Home">IPET 寵物店</a></li>
                        <li>募集專案</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Shop Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--上方工具條 start-->
                <div class="shop_toolbar_wrapper flex-column flex-md-row p-2 m-b-40 border">

                    <!-- 左邊條列式 start -->
                    <div class="shop-top-bar-left">

                        <div class="shop_toolbar_btn">
                            <button data-role="grid_list" type="button" class="active btn-list" title="List"><i class="ti-align-justify"></i></button>
                        </div>
                        <div class="shop-top-show">
                            <span id="prjCount">Showing 1–12 of 39 results</span>
                        </div>

                    </div>
                    <!-- 左邊條列式 end -->
                    <!-- 右邊DropDownList Start -->
                    <div class="shop-top-bar-right">

                        <h4 class="title m-r-10">Short By: </h4>

                        <div class="shop-short-by">
                            <select id="selectbar" class="nice-select" aria-label=".form-select-sm example">
                                <option value="1" selected>當前進行</option>
                                <option value="2">歷史專案</option>
                            </select>
                        </div>
                    </div>
                    <!-- 右邊DropDownLis End -->

                </div>
                <!--上方工具條 end-->
                <!-- 主要顯示頁面 Start -->
                <div class="row shop_wrapper grid_list" id="ProjectList">
                    @{/*
                            for(int i = 0;i<1;i++)
                            {
                                <!-- Single Product Start -->
                                <div class="col-12 product">
                                    <div class="product-inner">
                                        <div class="thumb">
                                            <a asp-action="AddToCart" class="image">
                                                <img class="fit-image" src="~/Front/images/project/1.jpg" alt="Product" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">倒數幾天</span>
                                            </span>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">九月物資募集</a></h5>
                                            <span class="price">
                                                <span class="new">為了不讓愛有變質的機會我們不接受捐款，但如果你也想為浪浪盡些心力可以選擇...</span>
                                            </span>
                                            <p>專案Context</p>
                                            <!-- Cart Button Start -->
                                            <div class="cart-btn action-btn">
                                                <div class="action-cart-btn-wrapper d-flex">
                                                    <div class="add-to_cart">
                                                        <a class="btn btn-primary btn-hover-dark rounded-0" asp-action="AddToCart">參與專案</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Cart Button End -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product End -->
                            }*/
                    }
                </div>
                <!-- 主要顯示頁面 End -->
                <!--下方頁面顯示 start->
                <div class="shop_toolbar_wrapper justify-content-center m-t-50">

                    <!-- Shopt Top Bar Right Start ->
                    <div class="shop-top-bar-right">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#/">1</a></li>
                                <li class="page-item"><a class="page-link" href="#/">2</a></li>
                                <li class="page-item"><a class="page-link" href="#/">3</a></li>
                                <li class="page-item">
                                    <a class="page-link rounded-0" href="#/" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Shopt Top Bar Right End ->

                </div>
                <!--下方頁面顯示 end-->
            </div>
        </div>
    </div>
</div>
<!-- Shop Section End -->


@section Scripts{
    <script>
        LoadProject();
        async function LoadProject() {
            const Projectrespnose = await fetch("@Url.Content("~/Front_Project/readProject")")
            renderProject(await Projectrespnose.json());
        }
        async function LoadProjectHis() {
            const Projectrespnose = await fetch("@Url.Content("~/Front_Project/readProjectHistory")")
            renderProject(await Projectrespnose.json());
        }
        var list = document.getElementById("ProjectList");
        var prjCount = document.getElementById("prjCount");
        function renderProject(datas) {
            list.innerHTML = "";
            prjCount.innerHTML = `Showing ${datas.length} results`;
            datas.forEach(item => {
                var contain = document.createElement("div");
                contain.className = "col-12 product";
                var Inner = document.createElement("div");
                Inner.className = "product-inner";

                var thumb = document.createElement("div");
                thumb.className = "thumb";

                var imgcontain = document.createElement("a");
                imgcontain.className = "image"; imgcontain.href = `/Front_Project/Detail?Id=${item.fId}`;
                var img = document.createElement("img");
                img.className = "fit-image"; img.src = `/Front/images/project/${item.fPrjImage}`;
                imgcontain.append(img);

                var badges = document.createElement("span");
                badges.className = "badges";
                var sale = document.createElement("span");
                if (item.fDeadline.substring(0, 1) == "-") {
                    sale.className = "sale"; sale.innerHTML = `已經結束`;
                } else {
                    sale.className = "sale"; sale.innerHTML = `倒數${item.fDeadline}天`; sale.style.backgroundColor = "#f6ab49";
                }
                badges.append(sale);

                thumb.append(imgcontain, badges);

                var content = document.createElement("div");
                content.className = "content";

                var title = document.createElement("h5");
                title.className = "title";
                title.style.fontSize = "25px";

                var titlea = document.createElement("a");
                titlea.href = `/Front_Project/Detail?Id=${item.fId}`; titlea.innerHTML = `${item.fTitle}`;
                title.append(titlea);

                if (item.fDeadlineall != "") {
                    var timecontain = document.createElement("div");
                    timecontain.className = "uk-grid-small uk-child-width-auto uk-margin";
                    timecontain.style.display = "inline-flex";
                    timecontain.style.marginLeft = "10px";
                    timecontain.style.setProperty('margin-top', '0px', 'important');
                    timecontain.style.marginBottom = "0";
                    timecontain.style.fontSize = "20px";
                    timecontain.setAttribute("uk-countdown",`date: ${item.fDeadlineall}`);
                    timecontain.setAttribute("uk-grid", "");
                    timecontain.style.borderRadius = "5px";
                    timecontain.style.paddingLeft = "2px";
                    timecontain.style.paddingRight = "2px";
                    if(item.fDeadline.substring(0) == "0")
                        timecontain.style.backgroundColor = "red";
                    else
                        timecontain.style.backgroundColor = "rgb(246, 171, 73)";
                    timecontain.style.color = "white";

                    var daycontain = document.createElement("div");
                    daycontain.style.paddingLeft = "5px";
                    daycontain.style.marginTop = "3px";
                    var day = document.createElement("div");
                    day.style.fontSize = "20px";
                    day.className = "uk-countdown-number uk-countdown-days";
                    daycontain.append(day);

                    var sep1 = document.createElement("div");
                    sep1.style.fontSize = "20px";
                    sep1.innerHTML = "天";
                    sep1.style.paddingLeft = "2px";

                    var hourcontain = document.createElement("div");
                    hourcontain.style.paddingLeft = "2px";
                    hourcontain.style.marginTop = "3px";
                    var hour = document.createElement("div");
                    hour.style.fontSize = "20px";
                    hour.className = "uk-countdown-number uk-countdown-hours";
                    hourcontain.append(hour);

                    var sep2 = document.createElement("div");
                    sep2.style.fontSize = "20px";
                    sep2.innerHTML = ":";
                    sep2.style.marginTop = "-3px";
                    sep2.style.paddingLeft = "2px";

                    var mincontain = document.createElement("div");
                    mincontain.style.paddingLeft = "2px";
                    mincontain.style.marginTop = "3px";
                    var min = document.createElement("div");
                    min.style.fontSize = "20px";
                    min.className = "uk-countdown-number uk-countdown-minutes";
                    mincontain.append(min);

                    var sep3 = document.createElement("div");
                    sep3.style.fontSize = "20px";
                    sep3.innerHTML = ":";
                    sep3.style.marginTop = "-3px";
                    sep3.style.paddingLeft = "2px";

                    var seccontain = document.createElement("div");
                    seccontain.style.paddingLeft = "2px";
                    seccontain.style.marginTop = "3px";
                    var sec = document.createElement("div");
                    sec.style.fontSize = "20px";
                    sec.className = "uk-countdown-number uk-countdown-seconds";
                    seccontain.append(sec);

                    timecontain.append("剩餘時間: ",daycontain, sep1, hourcontain, sep2, mincontain, sep3, seccontain);
                    title.append(timecontain);
                } else {
                    var deadline = document.createElement("p");
                    deadline.style.fontSize = "15px";
                    deadline.style.display = "inline";
                    deadline.style.borderRadius = "5px";
                    deadline.style.paddingLeft = "2px";
                    deadline.style.paddingRight = "2px";
                    deadline.style.backgroundColor = "red";
                    deadline.style.color = "white";
                    deadline.id = `deadlinecount${item.fId}`;
                    deadline.innerHTML = "已經結束";
                    title.append(deadline);
                }
                
                var price = document.createElement("span");
                price.className = "price";
                price.style.marginBottom = 0;
                var des = document.createElement("span");
                des.className = "new"; des.innerHTML = `${item.fDescription}`;
                price.append(des);

                var maincontent = document.createElement("p");
                maincontent.style.marginTop = 0;
                maincontent.innerHTML = `${item.fContent.replace('<br/>','。').substring(0,50)}...`;

                var btn = document.createElement("div");
                btn.className = "cart-btn action-btn";
                var wrapper = document.createElement("div");
                wrapper.className = "action-cart-btn-wrapper d-flex";
                var cart = document.createElement("div");
                cart.className = "add-to_cart";
                var cartaction = document.createElement("a");
                cartaction.className = "btn btn-primary btn-hover-dark rounded-0"; cartaction.innerHTML = "參與專案"; cartaction.href = `/Front_Project/Detail?Id=${item.fId}`;
                cart.append(cartaction);
                wrapper.append(cart);
                btn.append(wrapper);

                content.append(title, price, maincontent, btn);
                Inner.append(thumb, content);
                contain.append(Inner);
                list.append(contain);
            })
        }

        $("#selectbar").change(function () {
            var opt = this.selectedIndex;
            if (opt == 0)
                LoadProject();
            else
                LoadProjectHis();
        })
    </script>
}