@{
    ViewData["Title"] = "認養資訊管理";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            GetPetList(1);
        });
        var pageSize = 7;
        var cityId = -1;
        var petCategory = "ALL";
        var petGender = "ALL";
        var cityName = "";

        function GetPetList(page) {
            $.ajax({
                method: "POST",
                url: "/Back_PetAdopt/PetList",
                data: {
                    CityID: cityId,
                    PetCategory: petCategory,
                    PetGender: petGender,
                    Pagination: {
                        Page: page,
                        PageSize: pageSize
                    }
                },
                success: function (result) {
                    $("#PetList").html(result);
                }
            });
        }
        function getCityList(id) {
            CityID = cityId;
            getCityList(1);
        }

        function deletePet(id) {
            var yes = confirm('確定要刪除此認養資訊嗎？');

            if (yes) {
                $.ajax({
                    method: "POST",
                    url: "/Back_PetAdopt/DeletePet",
                    data: {
                        id: id,
                    },
                    success: function (result) {
                        if (result) {
                            alert("刪除成功");
                            window.location.href = "/Back_PetAdopt/Index";
                        }
                        else {
                            alert("刪除失敗");
                        }
                    }
                });
            }
            else {
                alert('已取消');
            }
        }

    </script>
}

<a class="btn btn-facebook mb-3" asp-controller="Back_PetAdopt" asp-action="CreatePet"><i class="fa-solid fa-cat"> 新增資訊</i></a>

<div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3 d-flex">
    <h6 class="text-white text-capitalize ps-3">認養資訊列表</h6>
</div>

<div id="PetList"></div>