@{
    ViewData["Title"] = "認養資訊管理";
}

<div class="card">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">寵物名稱</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">所在地</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">種類</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">性別</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">資訊</th>
                    <th class="text-secondary opacity-7"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>