@{
    ViewData["Title"] = "認養資訊管理";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            GetPetList(1);
        });
        var pageSize = 7;
        function GetPetList(page) {
            $.ajax({
                method: "POST",
                url: "/Back_PetAdopt/PetList",
                data: {
                    Pagination: {
                        Page: page,
                        PageSize: pageSize
                    }
                },
                success: function (result) {
                    $("#PetList").html(result);
                }
            });
        }
    </script>
}

<div class="bg-gradient-secondary shadow-secondary border-radius-lg pt-4 pb-3 d-flex">
    <h6 class="text-white text-capitalize ps-3">認養資訊列表</h6>
</div>

<div id="PetList"></div>
