<link rel="stylesheet" href="~/Front/css/pet.css" />

<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">詳細</h2>
                    <ul>
                        <li><a asp-action="index">認養資訊</a></li>
                        <li>詳細</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Single Product Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2">

                <!-- Product Details Image Start -->
                <div class="product-details-img">

                    <!-- Single Product Image Start -->
                    <div class="single-product-img swiper-container product-gallery-top">
                        <div class="swiper-wrapper">

                            <a class="swiper-slide w-100" href="~/Front/images/pet/1.jpg">
                                <img class="w-100 img-thumbnail" src="~/Front/images/pet/1.jpg" alt="Product" style="width: 470px; height: 470px; object-fit: fill; ">
                            </a>
                            <a class="swiper-slide w-100" href="~/Front/images/pet/2.jpg">
                                <img class="w-100 img-thumbnail" src="~/Front/images/pet/2.jpg" alt="Product" style="width: 470px; height: 470px; object-fit: fill;">
                            </a>
                            <a class="swiper-slide w-100" href="~/Front/images/pet/3.jpg">
                                <img class="w-100 img-thumbnail" src="~/Front/images/pet/3.jpg" alt="Product" style="width: 470px; height: 470px; object-fit: fill;">
                            </a>
                            <a class="swiper-slide w-100" href="~/Front/images/pet/4.jpg">
                                <img class="w-100 img-thumbnail" src="~/Front/images/pet/4.jpg" alt="Product" style="width: 470px; height: 470px; object-fit: fill;">
                            </a>
                        </div>
                    </div>
                    <!-- Single Product Image End -->
                    <!-- Single Product Thumb Start -->
                    <div class="single-product-thumb swiper-container product-gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="width: 150px; height: 150px; object-fit: fill;">
                                <img src="~/Front/images/pet/1.jpg" alt="Product">
                            </div>
                            <div class="swiper-slide" style="width: 150px; height: 150px; object-fit: fill;">
                                <img src="~/Front/images/pet/2.jpg" alt="Product">
                            </div>
                            <div class="swiper-slide" style="width: 150px; height: 150px; object-fit: fill;">
                                <img src="~/Front/images/pet/3.jpg" alt="Product">
                            </div>
                            <div class="swiper-slide" style="width: 150px; height: 150px; object-fit: fill; ">
                                <img src="~/Front/images/pet/4.jpg" alt="Product">
                            </div>
                        </div>

                        <!-- Next Previous Button Start -->
                        <div class="swiper-button-next swiper-nav-button"><i class="ti-arrow-right"></i></div>
                        <div class="swiper-button-prev swiper-nav-button"><i class="ti-arrow-left"></i></div>
                        <!-- Next Previous Button End -->

                    </div>
                    <!-- Single Product Thumb End -->

                </div>
                <!-- Product Details Image End -->
            </div>
            <div class="col-lg-7">
                <!-- Product Summery Start -->
                <div class="product-summery position-relative">

                    <div class="container">
                        <!-- Main content -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Details -->
                                <div class="card mb-6">
                                    <div class="card-body">
                                        <h2 style="font-weight:700">Yoru</h2>
                                        <hr class="style-one" />
                                        <div class="mt-3 container pt-2 pb-2">
                                            <div class="text-stone font-weight-bold font-size-18 mb-1">
                                                <span class="text-info">• 品種：</span>混種貓
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-pink">• 種類：</span>貓
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-purple">• 性別：</span>母
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-warning">• 體型：</span>小型
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-success">• 毛色：</span>虎斑
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-primary">• 年紀：</span>幼年
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-secondary">• 結紮：</span>未結紮
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-info">• 所在地：</span>新北市 新莊區
                                            </div>
                                            <div class="col-12 mb-1">
                                                <span class="text-danger">• 刊登日期：</span>2022-04-28
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container" style="margin-top: 5px">
                        <!-- Main content -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Details -->
                                <div class="mt-3 container card pt-2 pb-2">
                                    <p class="text-stone font-weight-bold font-size-18 mb-1" style="margin-top:10px">提供單位：流浪動物之家</p>
                                    <p class="text-stone font-weight-bold font-size-18 mb-1">聯絡人：王先生</p>
                                    <p class="text-stone font-weight-bold font-size-18">聯絡電話：<a href="tel:091234567" class="text-dark">091234567</a></p>
                                    <hr class="style-one" />
                                    <p class="text-stone font-weight-bold font-size-18" style="margin:10px 0 10px 0">
                                        資訊：
                                        因為一些私人因素想要幫Yoru找新主人，
                                        他是一隻很撒嬌親人的貓咪親人不怕貓，很喜歡抱抱，會一起睡覺。
                                        會贈送碗、外出籠、貓砂盆。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Summery End -->
            </div>
        </div>
    </div>
</div>