
@{
    ViewData["Title"] = "Create";
}

<div class="offset-xl-1 col-xl-10 col-sm-12 mb-xl-0 mb-12">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div class="pt-1">
                <h2 class="mb-0">新增專案</h2>
            </div>
        </div>
        <hr class="dark horizontal my-0">

        <div style="width:80%;margin:20px auto">
            <form>

                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="title" style="font-size:25px;color:black">專案名稱</label>
                    <input type="text" class="form-control" id="title" placeholder="專案名稱">
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="description" style="font-size:25px">專案簡介</label>
                    <input type="text" class="form-control" id="description" placeholder="專案簡介">
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="prjphoto" style="font-size:25px;color:black">專案圖片</label>
                    <input type="file" class="form-control" id="prjphoto">
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="goal" style="font-size:25px">專案目標</label>
                    <input type="text" class="form-control" id="goal" placeholder="專案目標">
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="content" style="font-size:25px">開始日期</label>
                    <input type="date" class="form-control" id="content" placeholder="開始日期">
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="content" style="font-size:25px">結束日期</label>
                    <input type="date" class="form-control" id="content" placeholder="結束日期">
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="content" style="font-size:25px">專案說明</label><br />
                    <textarea id="content" style="width:100%" rows="15"></textarea>
                </div>
                <div class="form-group col-xl-5" style="margin:10px 0">
                    <label for="content" style="font-size:25px">專案商品</label><br />
                    <select>
                        <option>請選擇商品</option>
                        <option>狗食</option>
                    </select>
                    <select>
                        <option>請選擇商品</option>
                        <option>狗食</option>
                    </select>
                    <select>
                        <option>請選擇商品</option>
                        <option>狗食</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" asp-action="Index">新增</button>
            </form>
        </div>
    </div>
</div>