
<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">建立帳號</h2>
                    @*<ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Create Account</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Register Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 m-auto">
                <div class="login-wrapper" style="margin-bottom:80px;">

                    <!-- Register Title & Content Start -->
                    <div class="section-content text-center m-b-20">
                        <h2 class="title m-b-10">建立您的 IPET 帳號</h2>
                    </div>
                    <!-- Register Title & Content End -->
                    <!-- Form Action Start -->
                    <form asp-action="Register" class="form-floating">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Photo Start -->
                        <div class="col-lg-auto text-center align-items-center">
                            <input class="form-control-file" accept="image/*" type="file" id="uploadPhoto" hidden/>
                            <a class="btn btn-default" onclick="browsePhoto();">
                                <img src="~/Front/images/register/default/df_1.png" alt="..." id="imgPreview" class="img-fluid img-thumbnail rounded-circle mx-auto mb-3" style="width:100px; height:100px;" />
                            </a>
                        </div>
                        <!-- Photo End-->
                        <div class="row">
                            <!-- LastName Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control required m-b-10" name="LastName" id="LastName" type="text" placeholder="姓氏">
                                    <label for="LastName">姓氏</label>
                                </div>
                            </div>
                            <!-- LastName End -->
                            <!-- FirstName Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control required m-b-10" name="FirstName" id="FirstName" type="text" placeholder="名字">
                                    <label for="LastName">名字</label>
                                </div>
                            </div>
                            <!-- FirstName End -->
                        </div>
                        <!-- UserId Start -->
                        <div class="form-floating single-input-item m-b-10 justify-content-center align-items-center d-flex">
                            <input class="form-control required m-b-10" name="UserId" id="UserId" type="text" placeholder="使用者名稱">
                            <label for="UserId">使用者名稱</label>
                        </div>
                        <!-- UserId End -->
                        <!-- Gender Start -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-25">
                                    <select class="form-select" name="Gender" id="selgender">
                                        <option selected>請選擇</option>
                                        <option>男</option>
                                        <option>女</option>
                                        <option>不願透露</option>
                                    </select>
                                    <label for="selgender">性別</label>
                                </div>
                            </div>
                            <!-- Gender End -->
                            <!-- BirthDate Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control" name="BirthDate" id="BirthDate" type="date" placeholder="您的出生日期">
                                    <label for="BirthDate">您的出生日期</label>
                                </div>
                            </div>
                            <!-- BirthDate End -->
                        </div>
                        <!-- Email Start -->
                        <div class="form-floating single-input-item m-b-10">
                            <input class="form-control" name="Email" id="Email" type="email" placeholder="您的電子郵件地址">
                            <label for="Email">您的電子郵件地址</label>
                        </div>
                        <!-- Email End -->
                        <div class="row">
                            <!-- CurrentPwd Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control" name="CurrentPwd" id="CurrentPwd" type="password" placeholder="密碼">
                                    <label for="CurrentPwd">密碼</label>
                                </div>
                            </div>
                            <!-- CurrentPwd End -->
                            <!-- ConfirmPwd Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-10">
                                    <input class="form-control" name="ConfirmPwd" id="ConfirmPwd" type="password" placeholder="確認">
                                    <label for="ConfirmPwd">確認</label>
                                </div>
                            </div>
                            <!-- ConfirmPwd End -->
                        </div>
                        <!-- Phone Start -->
                        <div class="form-floating single-input-item m-b-10">
                            <input class="form-control" name="Phone" id="Phone" type="text" placeholder="電話號碼">
                            <label for="Phone">電話號碼</label>
                        </div>
                        <!-- Phone End -->
                        <div class="row">
                            <!-- City Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-25">
                                    <select class="form-select" name="City" id="selcity"><option>請選擇</option></select>
                                    <label for="selcity">縣市</label>
                                </div>
                            </div>
                            <!-- City End -->
                            <!-- Region Start -->
                            <div class="col-lg-6">
                                <div class="form-floating single-input-item m-b-25">
                                    <select class="form-select" name="Region" id="selregion"><option>請選擇</option></select>
                                    <label for="selregion">區</label>
                                </div>
                            </div>
                            <!-- Region End -->
                        </div>
                        <!-- Address Start -->
                        <div class="form-floating single-input-item m-b-25">
                            <input class="form-control" name="Address" id="Address" type="text" placeholder="地址">
                            <label for="Address">地址</label>
                        </div>
                        <!-- Address End -->
                        <!-- Button/Forget Password Start -->
                        <div class="single-input-item">
                            <div class="login-reg-form-meta m-b-n15">
                                <input type="submit" value="創建" class="btn btn btn-gray-deep btn-hover-primary m-b-15" />
                            </div>
                        </div>
                        <!-- Button/Forget Password End -->
                    </form>
                    <!-- Form Action End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->

@section Scripts{
    <script>

        function browsePhoto() {
            $("#uploadPhoto").trigger("click");
        }
        uploadPhoto.onchange = evt => {
            const [file] = uploadPhoto.files;
            if (file)
                imgPreview.src = URL.createObjectURL(file);
        }

        let city = $("#selcity");
        let region = $("#selregion");

    (async function loadAddress() {
        //載入縣市
        let cityResponse = await fetch("@Url.Content("~/MembersApi/City")");
        renderCity(await cityResponse.json());
        //載入鄉鎮區
        let cityname = $("#selcity option:selected").val();
        let regionResponse = await fetch("@Url.Content("~/MembersApi/Region")?cityname=" + cityname);
        renderRegion(await regionResponse.json());
    })();

        city.change(async () => {
            let cityname = $("#selcity option:selected").val();
            let regionResponse = await fetch("@Url.Content("~/MembersApi/Region")?cityname=" + cityname);
            renderRegion(await regionResponse.json());
        })

    function renderCity(datas) {
        datas.forEach(item => {
            let opt = new Option(item.cityName, item.cityName);
            city.append(opt);
        })
        }
        function renderRegion(datas) {
            if (region.length > 0)
                region.empty(region.length-1);
            datas.forEach(item => {
                let opt = new Option(item.regionName, item.regionName);
                region.append(opt);
            })
        }

    </script>
}