<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">建立帳號</h2>
                    @*<ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Create Account</li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Register Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 m-auto">
                <div class="login-wrapper">

                    <!-- Register Title & Content Start -->
                    <div class="section-content text-center m-b-30">
                        <h2 class="title m-b-10">建立帳號</h2>
                    </div>
                    <!-- Register Title & Content End -->
                    <!-- Form Action Start -->
                    <form action="#" method="post">

                        <!-- Input First Name Start -->
                        <div class="single-input-item m-b-10">
                            <input type="text" placeholder="帳號">
                        </div>
                        <!-- Input First Name End -->
                        <!-- Input Last Name Start -->
                        <div class="single-input-item m-b-10">
                            <input type="email" placeholder="Email">
                        </div>
                        <!-- Input Last Name End -->
                        <!-- Input Email Start -->
                        <div class="single-input-item m-b-10">
                            <input type="password" placeholder="輸入密碼">
                        </div>
                        <!-- Input Email End -->
                        <!-- Input Password Start -->
                        <div class="single-input-item m-b-10">
                            <input type="password" placeholder="確認密碼">
                        </div>
                        <!-- Input Password End -->
                        <!-- Button/Forget Password Start -->
                        <div class="single-input-item">
                            <div class="login-reg-form-meta m-b-n15">
                                <button class="btn btn btn-gray-deep btn-hover-primary m-b-15">創建</button>
                            </div>
                        </div>
                        <!-- Button/Forget Password End -->

                    </form>
                    <!-- Form Action End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->