@{
    ViewData["Title"] = "商品管理";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            getProductList(1);
        });
        var categoryId = -1;
        var pageSize = 9;
        function getProductList(page) {
            $.ajax({
                method: "POST",
                url: "/Back_Products/ProductList",
                data: {
                    CategoryId: categoryId,
                    Pagination: {
                        Page: page,
                        PageSize: pageSize
                    }
                },
                success: function (result) {
                    $("#productList").html(result);
                }
            });
        }
    </script>
}
 <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex">
        <h6 class="text-white text-capitalize ps-3">商品管理頁面</h6>
        <a class="ms-auto btn bg-gradient-dark mb-0 mt-0 me-2" asp-controller="Back_Products" asp-action="CreateProduct">新增商品</a>
    </div>
<div id="productList"></div>