@*@model ProductListResponseModel
@{
    Layout = null;
}

<table class="table table-dark table-hover">
    <thead>
         <tr>
             <th></th>
             <th></th>
             <th></th>
             <th></th>
         </tr>
  </thead>
  <tbody>
        @foreach (var product in Model.ProductList)
        {
            
        }
  </tbody>
</table>

*@