@using Project_IPET.ViewModels
@model CPostViewModel
@{
    ViewData["Title"] = "CreatePost";
}
<!DOCTYPE html>

<html lang="en">

    <head>
        <style>
            .spacing-10{
                padding:10px;
            
            }

        </style>
     
    </head>
   
    <body>

        <!-- Breadcrumb Area Start -->
        <div class="section breadcrumb-area bg-name-bright">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-wrapper">
                            <h2 class="breadcrumb-title">部落格</h2>
                            <ul>
                                <li><a href="~/Front_Blog/index">回Blog首頁</a></li>
                                <li>發新貼文</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End -->


        <!--新增貼文區 Start-->
        
        <form  action="~/Front_Blog/CreatePost" method="post" enctype="multipart/form-data" class=" section section-margin " style="padding:0 5px" runat="server">
            <div style="margin:0 25%;">

                <!--標題 Start-->
                <div class="mb-3">
                    <div>
                        <h3>標題</h3>
                        <input class="form-control w-100" id="Title" name="Title" type="text" cols="30" rows="10"/>
                    </div>

                    <div class="input-group " style="padding-top:20px" ;>
                        
                        
                        <div >
                            <h4>分類</h4>
                          
                               @Html.DropDownListFor(m => m.PostType, Model.MyList , new { @class = "form-control" ,name="PostType", id="PostType"})
                       
                          
                        </div>
                    </div>
                </div>
                <!--標題 End-->
                <!--貼文內容區 Start-->
                <div class="mb-3 ">
                    <h5>貼文內容</h5>
                    <textarea  class="form-control w-100 alert-warning" id="PostContent" name="PostContent" cols="30" rows="10">  </textarea>
                </div>
                <!-- 貼文內容區  End-->
                <!--圖片上傳 Start-->
                <div class="custom-file">


                    <input class="form-control-file" accept="image/*" type="file" name="PostPhoto" id="PostPhoto"/>
                  
                </div>
                <!--圖片預覽 Start-->
                <div>
                    <img id="imgshow" class="container spacing-10 img-thumbnail" />
                </div>
                <!--圖片預覽End-->
                <!--圖片上傳  End -->
                <!--按鈕  Start-->
                <div>
                    <button type="submit" class="btn btn-secondary btn-primary btn-hover-dark" style="float:right;">上傳貼文</button>
                </div>
                <!--按鈕    End-->
            </div>
        </form>

        <!-- 新增貼文區 End -->



        <script>
            PostPhoto.onchange = evt => {
                const [file] = PostPhoto.files
                if (file) {
                    imgshow.src = URL.createObjectURL(file)
                }
            }

        </script>

    </body>
 
</html>

 
