@using Project_IPET.ViewModels
@model CPostViewModel
@{
    ViewData["Title"] = "CreatePost";
}
<!DOCTYPE html>

<html lang="en">

<head>
    <style>
        .spacing-10 {
            padding: 10px;
        }

        /*  ----------Html編輯器----------*/
        .demo-inline {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: left;
            color: #626262;
            line-height: 1.3;
            font-size: 14px;
            background-color: #ffffff;
            text-align: left;
            vertical-align: top;
            padding: 20px 20px 20px 20px;
        }

            .demo-inline .container {
                background-color: #fafafa;
                padding: 20px;
            }

            .demo-inline p {
                margin: 0 0;
            }

            .demo-inline h1 {
                color: #1976D2;
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                margin: 0 0;
            }

            .demo-inline h2 {
                color: #1976D2;
                font-size: 2em;
                margin-bottom: 0;
                margin-top: 0;
                line-height: 40px;
            }

            .demo-inline h3 {
                font-size: 1.5em;
                color: #403f42;
                margin-bottom: 0;
                margin-top: 0;
                line-height: 40px;
            }

            .demo-inline ul,
            .demo-inline ol {
                padding-left: 20px;
            }

            .demo-inline ul {
                list-style: disc;
            }

            .demo-inline ol {
                list-style: decimal;
            }

            .demo-inline a {
                text-decoration: underline;
            }

            .demo-inline img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 0px 10px 10px 10px;
            }

            .demo-inline textarea {
                display: none;
            }

            .demo-inline *[contentEditable="true"]:focus,
            .demo-inline *[contentEditable="true"]:hover {
                outline: 2px solid #1976D2;
            }
    </style>
    <script src="https://cdn.tiny.cloud/1/4aoeyj9nh13zl45dd02t95egg2dg47pwu6iif2gf4pwuswsk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @* ----------Html編輯器----------*@


</head>

<body>

    <!-- Breadcrumb Area Start -->
    <div class="section breadcrumb-area bg-name-bright">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-wrapper">
                        <h2 class="breadcrumb-title">部落格</h2>
                        <ul>
                            <li><a href="~/Front_Blog/index">回Blog首頁</a></li>
                            <li>發新貼文</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!--新增貼文區 Start-->

    <form action="~/Front_Blog/CreatePost" method="post" enctype="multipart/form-data" class=" section section-margin " style="padding:0 5px" runat="server">
        <div style="margin:0 25%;">

            <!--標題 Start-->
            <div class="mb-3">
                <div>
                    <h3>標題</h3>
                    <input class="form-control w-100" id="Title" name="Title" type="text" cols="30" rows="10" />
                </div>

                <div class="input-group " style="padding-top:20px" ;>


                    <div>
                        <h4>分類</h4>

                        @Html.DropDownListFor(m => m.PostType, Model.MyList, new { @class = "form-control", name = "PostType", id = "PostType" })


                    </div>
                </div>
            </div>
            <!--標題 End-->
            <!--貼文內容區 Start-->
            <div class="mb-3 ">
                <h5>貼文內容</h5>
            </div>
            <div class="demo-inline ">
                <div class="container ">
                    <div class="tinymce-body form-control" type="html" name="PostContent" id="PostContent"></div>
                </div>
            </div>
            <!-- 貼文內容區  End-->
            <!--圖片上傳 Start-->
            <div class="custom-file">


                <input class="form-control-file" accept="image/*" type="file" name="PostPhoto" id="PostPhoto" />

            </div>
            <!--圖片預覽 Start-->
            <div>
                <img id="imgshow" class="container spacing-10 img-thumbnail" />
            </div>
            <!--圖片預覽End-->
            <!--圖片上傳  End -->
            <!--按鈕  Start-->
            <div>
                <button type="submit" class="btn btn-secondary btn-primary btn-hover-dark" onclick="CreatePost" style="float:right;">上傳貼文</button>
                <div id="demo" class="btn btn-secondary btn-primary btn-hover-dark">Demo</div>
            </div>
            <!--按鈕    End-->
        </div>
    </form>

    <!-- 新增貼文區 End -->
    <!--.........................................-->



    @section Scripts{

        <script>



            PostPhoto.onchange = evt => {
                const [file] = PostPhoto.files
                if (file) {
                    imgshow.src = URL.createObjectURL(file)
                }
            }



            $(document).on("click", "#demo", function () {
                $("#Title").val("從寵物到流浪動物：在城市的暗處");
                $("#PostContent").text("雖然貓狗在台灣常被視為擁有特殊待遇的一群，不只現行的法律常被質疑是否獨厚貓狗，甚至到了要立法限制吃食的程度；許多人對待動物的態度亦彷彿映證了所謂「愛動物」多半僅局限於自家寵物，" +
                    "部分飼主任由寵物在野外活動的行為，更讓關懷野生動物處境者憂心犬貓造成生態環境失衡。但對於關心流浪動物議題的人來說，台灣流浪動物的處境，或許會讓他們有完全不同的感受。" +
                    "若綜觀近二十年來台灣動物保護運動的脈絡，就可發現犬貓或許真的得到了最多的注意與重視，但牠們的處境以及社會意識的改變，其實並不如想像中那麼多。尤其若飼主的觀念並未隨著寵物的普及而相對提升" +
                    "，不當飼養與棄養的狀況，將使得許多「寵物」淪落為「流浪動物」，當漫步的狗身後少了那條人類控制的牽繩，牠們彷彿也就從城市風景的一部分，變成具威脅性的城市毒瘤。該如何看待與處理城市中的流浪動物" +
                    "，遂成為人們爭論不休的問題。");

            })




        </script>
    }

    @*Html編輯器*@
    <script>


        const emailHeaderConfig = {
            selector: '.tinymce-heading',
            menubar: false,
            inline: true,
            plugins: [
                'lists',
                'powerpaste',
                'autolink'
            ],
            toolbar: 'undo redo | bold italic underline',
            valid_elements: 'strong,em,span[style],a[href]',
            valid_styles: {
                '*': 'font-size,font-family,color,text-decoration,text-align'
            },
            powerpaste_word_import: 'clean',
            powerpaste_html_import: 'clean',
        };

        const emailBodyConfig = {
            selector: '.tinymce-body',
            menubar: false,
            inline: true,
            plugins: [
                'link', 'lists', 'powerpaste',
                'autolink', 'tinymcespellchecker'
            ],
            toolbar: [
                'undo redo | bold italic underline | fontfamily fontsize',
                'forecolor backcolor | alignleft aligncenter alignright alignfull | numlist bullist outdent indent'
            ],
            valid_elements: 'p[style],strong,em,span[style],a[href],ul,ol,li',
            valid_styles: {
                '*': 'font-size,font-family,color,text-decoration,text-align'
            },
            powerpaste_word_import: 'clean',
            powerpaste_html_import: 'clean',
        };
        tinymce.init(emailHeaderConfig);
        tinymce.init(emailBodyConfig);

    </script>

    @*Html編輯器*@
</body>

</html>


