
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Breadcrumb Area Start -->
    <div class="section breadcrumb-area bg-name-bright">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-wrapper">
                        <h2 class="breadcrumb-title">部落格</h2>
                        <ul>
                            <li><a asp-controller="Front_Home">IPET 寵物店</a></li>
                            <li>部落格</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
    <!-- Post Section Start -->
    <div class="section section-margin">
        <div class="container">

            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-12">

                    <div class="row row-cols-lg-2 row-cols-sm-2 row-cols-1 m-b-n40 ">

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="~/Front_Blog/PostView">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/1.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>03, April, 2022</span></li>

                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="~/Front_Blog/PostView">How to take care of your fish</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ...</p>
                                    <a class="more-link" href="~/Front_Blog/PostView">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/2.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>13, March, 2022</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Find the male and female fish</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/3.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>12, January, 2022</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Tips for taking care of dogs</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/4.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>24, Jul, 2021</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Beginning a Birding Blog</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/5.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>02, Dec, 2021</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Start Fish Farming Blog</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/6.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>14, April, 2021</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Freshwater Aquarium Fish</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/7.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>21, Feb, 2021</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Cat Blogs That Help Cats</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col m-b-40">
                            <!-- Single Blog Start -->
                            <div class="single-blog-wrapper">

                                <!-- Blog Thumb Start -->
                                <div class="blog-thumb thumb-effect">
                                    <a class="image" href="blog-details.html">
                                        <img class="fit-image" height=300 src="~/Front/images/blog/medium-size/8.jpg" alt="Blog Image">
                                    </a>
                                </div>
                                <!-- Blog Thumb End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li>
                                                <a href="~/Front_Blog/PostView">
                                                    <i class="fa fa-thumbs-o-up text-primary" aria-hidden="true">1234536</i>
                                                </a>

                                            </li>
                                            <li><span>By</span><a href="#/">Admin</a></li>
                                            <li><span>14, Feb, 2021</span></li>
                                        </ul>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">The legendary cat behavior</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                                    <a class="more-link" href="blog-details.html">Read More</a>
                                </div>
                                <!-- Blog Content End -->

                            </div>
                            <!-- Single Blog End -->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 m-t-50">
                            <nav class="d-flex justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link active" href="#/">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#/">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#/">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link rounded-0" href="#/" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3 col-12">

                    <!-- Sidebar Widget Start -->

                    <aside class="sidebar_widget m-t-50 mt-lg-0">

                        <div class="widget_inner">
                            <div class="widget-list m-b-50">
                                <h3 class="widget-title m-b-30">貼文分享</h3>
                                <a href="~/Front_Blog/CreatePost" class="btn btn-primary btn-hover-dark" style="font-size:large" ;>發新貼文</a>
                            </div>
                            <!-- 關鍵字搜尋 -->
                            <div class="widget-list m-b-50">
                                <h3 class="widget-title m-b-30">關鍵字搜尋</h3>
                                <div class="search-box">
                                    <input type="text" class="form-control" placeholder="請輸入關鍵字" aria-label="Search Our Store">
                                    <button class="search-icon" type="button">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- 依類別 -->
                            <div class="widget-list m-b-50">
                                <h3 class="widget-title m-b-30">依類別</h3>
                                <div class="sidebar-body">
                                    <ul class="sidebar-list">
                                        <li><a href="#/">全部</a></li>
                                        <li><a href="#/">狗 (15)</a></li>
                                        <li><a href="#/">貓 (11)</a></li>
                                        <li><a href="#/">用品 (6)</a></li>
                                        <li><a href="#/">其他 (26)</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 依日期分類 -->
                            <div class="widget-list p-b-50">
                                <h3 class="widget-title m-b-30">依日期(年)</h3>
                                <div class="sidebar-body sidebar-body-archive">
                                    <h4 class="title"> 2022年</h4>
                                    <ul class="archive-list d-block">
                                        <li><span>&#8608;</span><a href="#">There Are Many Pets...</a></li>
                                        <li><span>&#8608;</span><a href="#">The Standard Chunk Of...</a></li>
                                        <li><span>&#8608;</span><a href="#">How to Take Care...</a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-body sidebar-body-archive m-t-20">
                                    <h4 class="title"> 2021年</h4>
                                    <ul class="archive-list d-block">
                                        <li><span>&#8608;</span><a href="#">There Are Many Pets...</a></li>
                                        <li><span>&#8608;</span><a href="#">The Standard Chunk Of...</a></li>
                                        <li><span>&#8608;</span><a href="#">How to Take Care...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 最新貼文 -->
                            <div class="widget-list p-b-50">
                                <h3 class="widget-title m-b-30">最近貼文</h3>
                                <div class="sidebar-body blog-list-wrapper m-b-n30">

                                    <!-- Single Blog List Start -->
                                    <div class="single-blog-list m-b-30">

                                        <!-- Blog List Thumb Start -->
                                        <div class="blog-thumb">
                                            <a href="blog-details.html" class="image">
                                                <img class="fit-image" src="~/Front/images/blog/small-size/1-1.jpg" alt="Product Image">
                                            </a>
                                        </div>
                                        <!-- Blog List Thumb End -->
                                        <!-- Blog List Content Start -->
                                        <div class="blog-list-content">
                                            <h6 class="blog-name">
                                                <a href="blog-details.html" title="How to take care of your fish">How to take care...</a>
                                            </h6>
                                            <div class="blog-meta">
                                                <p>03/04/2022</p>
                                            </div>
                                        </div>
                                        <!-- Blog List Content End -->

                                    </div>
                                    <!-- Single Blog List End -->
                                    <!-- Single Blog List Start -->
                                    <div class="single-blog-list m-b-30">

                                        <!-- Blog List Thumb Start -->
                                        <div class="blog-thumb">
                                            <a href="blog-details.html" class="image">
                                                <img class="fit-image" src="~/Front/images/blog/small-size/1-2.jpg" alt="Product Image">
                                            </a>

                                        </div>
                                        <!-- Blog List Thumb End -->
                                        <!-- Blog List Content Start -->
                                        <div class="blog-list-content">
                                            <h6 class="blog-name">
                                                <a href="blog-details.html" title="Tips for taking care of dogs">Tips for taking care...</a>
                                            </h6>
                                            <div class="blog-meta">
                                                <p>13/03/2022</p>
                                            </div>
                                        </div>
                                        <!-- Blog List Content End -->

                                    </div>
                                    <!-- Single Blog List End -->
                                    <!-- Single Blog List Start -->
                                    <div class="single-blog-list m-b-30">

                                        <!-- Blog List Thumb Start -->
                                        <div class="blog-thumb">
                                            <a href="blog-details.html" class="image">
                                                <img class="fit-image" src="~/Front/images/blog/small-size/1-3.jpg" alt="Product Image">
                                            </a>
                                        </div>
                                        <!-- Blog List Thumb End -->
                                        <!-- Blog List Content Start -->
                                        <div class="blog-list-content">
                                            <h6 class="blog-name">
                                                <a href="blog-details.html" title="Beginning a Birding Blog">Beginning a Birding...</a>
                                            </h6>
                                            <div class="blog-meta">
                                                <p>12/01/2022</p>
                                            </div>
                                        </div>
                                        <!-- Blog List Content End -->

                                    </div>
                                    <!-- Single Blog List End -->

                                </div>
                            </div>

                            <!-- Tags -->
                            <div class="widget-list">
                                <h3 class="widget-title m-b-30">Tags</h3>
                                <div class="sidebar-body">
                                    <ul class="tags m-b-n10">
                                        <li><a href="#/">罐罐</a></li>
                                        <li><a href="#/">阿喵</a></li>
                                        <li><a href="#/">浪浪</a></li>
                                        <li><a href="#/">狗勾</a></li>
                                        <li><a href="#/">朕</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- Sidebar Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Post Section End -->


</body>

</html>
