
@{
    ViewData["Title"] = "TestProductComment";
}

<h1>TestProductComment</h1>


<p style="padding-top:100px;">分隔欄</p>

<button>

    <a asp-controller="Front_Blog" asp-action="SendGmail">寄送Mail</a>

</button>




<p style="padding-top:100px;">分隔欄</p>

<div class="section section-padding bg-name-bright">
    <div class="container">
        <div class="row">

            <!-- Single Product Tab Start -->
            <div class="col-lg-12 single-product-tab">


                <div class="tab-content mb-text" id="myTabContent">

                    <div class="tab-pane fade active show" id="connect-2" role="tabpanel" aria-labelledby="profile-tab">

                        <!-- Start Single Content -->
                        <div class="product_tab_content m-t-40 p-3 border">
                            <!-- Start Single Review -->
                            <div class="single-review d-flex m-b-20">

                                <!-- Review Thumb Start -->
                                <div class="review_thumb">
                                    <img alt="review images" src="~/Front/images/blog/medium-size/5.jpg">

                                </div>
                                <!-- Review Thumb End -->
                                <!-- Review Details Start -->
                                <div class="review_details">
                                    <div class="review_info m-b-10">

                                        <!-- Rating Start -->
                                        <span class="rating justify-content-start m-b-15">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <!-- Rating End -->
                                        <!-- Review Title & Date Start -->
                                        <div class="review-title-date d-flex">
                                            <h5 class="title">Admin - </h5><span> January 19, 2021</span>
                                        </div>
                                        <!-- Review Title & Date End -->

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in viverra ex, vitae vestibulum arcu. Duis sollicitudin metus sed lorem commodo, eu dapibus libero interdum. Morbi convallis viverra erat, et aliquet orci congue vel. Integer in odio enim. Pellentesque in dignissim leo. Vivamus varius ex sit amet quam tincidunt iaculis.</p>
                                </div>
                                <!-- Review Details End -->


                            </div>
                            <!-- End Single Review -->
                            <!-- Start Single Review -->
                            <div class="single-review d-flex m-b-20">

                                <!-- Review Thumb Start -->
                                <div class="review_thumb">
                                    <img alt="review images" src="~/Front/images/blog/medium-size/4.jpg">

                                </div>
                                <!-- Review Thumb End -->
                                <!-- Review Details Start -->
                                <div class="review_details">
                                    <div class="review_info m-b-10">

                                        <!-- Rating Start -->
                                        <span class="rating justify-content-start m-b-15">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <!-- Rating End -->
                                        <!-- Review Title & Date Start -->
                                        <div class="review-title-date d-flex">
                                            <h5 class="title">Admin - </h5><span> January 19, 2021</span>
                                        </div>
                                        <!-- Review Title & Date End -->

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in viverra ex, vitae vestibulum arcu. Duis sollicitudin metus sed lorem commodo, eu dapibus libero interdum. Morbi convallis viverra erat, et aliquet orci congue vel. Integer in odio enim. Pellentesque in dignissim leo. Vivamus varius ex sit amet quam tincidunt iaculis.</p>
                                </div>
                                <!-- Review Details End -->


                            </div>
                            <!-- End Single Review -->
                            <!-- Start Single Review -->
                            <div class="single-review d-flex m-b-20">

                                <!-- Review Thumb Start -->
                                <div class="review_thumb">
                                    <img alt="review images" src="~/Front/images/blog/medium-size/1.jpg">

                                </div>
                                <!-- Review Thumb End -->
                                <!-- Review Details Start -->
                                <div class="review_details">
                                    <div class="review_info m-b-10">

                                        <!-- Rating Start -->
                                        <span class="rating justify-content-start m-b-15">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </span>
                                        <!-- Rating End -->
                                        <!-- Review Title & Date Start -->
                                        <div class="review-title-date d-flex">
                                            <h5 class="title">Admin - </h5><span> January 19, 2021</span>
                                        </div>
                                        <!-- Review Title & Date End -->

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in viverra ex, vitae vestibulum arcu. Duis sollicitudin metus sed lorem commodo, eu dapibus libero interdum. Morbi convallis viverra erat, et aliquet orci congue vel. Integer in odio enim. Pellentesque in dignissim leo. Vivamus varius ex sit amet quam tincidunt iaculis.</p>
                                </div>
                                <!-- Review Details End -->


                            </div>
                            <!-- End Single Review -->
                        </div>
                        <!-- End Single Content -->

                    </div>
                </div>

            </div>
            <!-- Single Product Tab End -->

        </div>
    </div>
</div>



<p style="padding-bottom:100px;">分隔欄</p>


