<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">忘記密碼</h2>
                    @*<ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Create Account</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Register Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 m-auto">
                <div class="login-wrapper" style="margin-bottom:80px;">

                    <!-- Register Title & Content Start -->
                    <div class="section-content text-center m-b-30">
                        <h2 class="title m-b-10">試著找回您的 IPET 密碼</h2>
                    </div>
                    <!-- Register Title & Content End -->
                    <!-- Form Action Start -->
                    <form asp-action="#" id="form" class="form-floating">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating single-input-item mb-0 justify-content-center align-items-center d-flex">
                            <input class="form-control required m-b-10" name="Email" id="Email" type="text" placeholder="您註冊時使用的Email">
                            <label for="Email">您註冊時使用的Email</label>
                        </div>

                        <div class="row d-flex justify-content-end">
                            <div class="col-7 d-flex justify-content-start">
                                <div class="m-b-30">
                                    <b>我們將寄出驗證碼給您。</b>
                                </div>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <div class="m-b-30">
                                    <a id="chkmail" href="#" onclick="chkEmail()" class="btn btn btn-gray-deep btn-hover-primary m-b-15">獲得驗證碼</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating single-input-item">
                            <input class="form-control" name="ConfirmCode" id="ConfirmCode" type="text" placeholder="驗證代碼">
                            <label for="ConfirmCode">驗證代碼</label>
                        </div>
                        <div class="row d-flex align-items-start" id="collapseCode">
                            <div class="col-lg-10">
                                <input type="button" onclick="chkCode()" value="確認" class="btn btn btn-gray-deep btn-hover-primary m-b-15" />
                            </div>
                            <div class="col-lg-2">
                            <h3 class="d-flex justify-content-end align-items-end"><b>60s</b></h3>
                        </div>
                        </div>
                    </form>
                    <!-- Form Action End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->

<div class="mt-0">
    <input type="button" class="btn btn btn-gray-deep btn-hover-primary" onclick="demo()" name="demo" value="Demo" />
</div>

@section Scripts
{
    <script>
        let email = $('input[name="Email"]');
        let code = $('input[name="ConfirmCode"]');

        async function chkEmail() {
            await $.post('@Url.Content("~/Empty_Signin/chkEmail")',
                { Email: email.val() },
                function (response) {
                    if (response == "true") {
                        //console.log("true");
                        $.ajax({
                            url:'@Url.Content("~/Empty_Signin/mailtoGetCode")',
                            type: "post",
                            data:{ Email: email.val() },
                        });
                        $("#chkmail").removeClass("btn-hover-primary ").addClass("disabled").text("已寄送");
                    }
                    else {
                        //console.log("false");
                        alert("Email 錯誤 或 未註冊。");
                    }
                })
        }

        async function chkCode() {
            await $.post('@Url.Content("~/Empty_Signin/chkCode")',
                { Code: code.val() },
                function (response) {
                    if (response == "true") {
                        //console.log("true");
                        window.location.href = "/Empty_Signin/ResetPwd";
                    }
                    else {
                        //console.log("false");
                        alert("驗證代碼錯誤。");
                    }
                }

            )
        }

        function demo() {
            $('input[name="Email"]').val("accoutforsendmail@gmail.com");
        }

    </script>
}