<!--<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title"><a asp-controller="Front_Home" asp-action="Index"><img src="~/Front/images/logo/logo.png" alt="Site Logo" width="190" height="50" /></a></h2>
                    @*<ul>
                            <li><a href="index.html">首頁</a></li>
                            <li>登入</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Login Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7 m-auto">
                <div class="login-wrapper">

                    <!-- Page1 Start -->
                    <!-- Login Title & Content Start -->
                    <div class="section-content text-center m-b-30">
                        <h2 class="title m-b-10">登入</h2>
                    </div>
                    <!-- Login Title & Content End -->
                    <!-- Form Action Start -->
                    <form asp-action="chkRoId" id="form">
                        <!-- Input Email Start -->
                        <div class="form-floating single-input-item m-b-10">
                            <input class="form-control" type="text" name="txtAccount" placeholder="Email 或 帳號">
                            <label for="txtAccount">Email 或 帳號</label>
                        </div>
                        <!-- Input Email End -->
                        <!-- Input Password Start -->
                        <div class="form-floating single-input-item m-b-10">
                            <input class="form-control" type="password" name="txtPassword" placeholder="輸入密碼">
                            <label for="txtPassword">輸入密碼</label>
                        </div>
                        <!-- Input Password End -->
                        <!-- RememberMe Start -->
                        <div class="custom-control custom-switch m-b-15 m-l-10">
                            <input type="checkbox" class="custom-control-input m-b-n15" id="rememberSwitch">
                            <label class="custom-control-label" for="rememberSwitch">記住我</label>
                        </div>
                        <!-- RememberMe End -->
                        <!-- Button/Forget Password Start -->
                        <div class="single-input-item m-b-15">
                            <div class="login-reg-form-meta m-b-n15">
                                <button onclick="chkform()" class="btn btn btn-gray-deep btn-hover-primary m-b-15">登入</button>
                                <a href="~/Empty_Signin/ForgetPassword" class="forget-pwd m-b-15">忘記密碼?</a>
                            </div>
                        </div>
                        <!-- Button/Forget Password End -->
                        <!-- Lost Password & Creat New Account Start -->
                        <div class="lost-password m-l-20">
                            <a href="~/Empty_Signup/index">建立帳號</a>
                        </div>
                        <!-- Lost Password & Creat New Account End -->

                        <div class="mt-5">
                            <input type="button" class="btn btn btn-gray-deep btn-hover-primary" name="demo" value="Demo" />
                        </div>

                    </form>
                    <!-- Page1 End -->
                    <!-- Form Action End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Section End -->
<!-- Button trigger modal -->


@section Scripts
{
    <script>

        let Account = $('input[name="txtAccount"]');
        let Password = $('input[name="txtPassword"]');

         async function chkform() {
            await $.post('@Url.Content("~/Empty_Signin/chkId")',
                { txtAccount: Account.val(), txtPassword: Password.val() },
                function (response) {
                    if (response == "true") {
                        //window.location.href = "/Empty_Signin/chkRoId";
                        $("#form").submit();
                    }
                    else if (response == "false") {
                        alert("帳號 或是 密碼錯誤?");
                    }
                    else {
                        alert("您的帳號被停用，詳情請洽管理員。");
                    }
                })
        }

        $(document).on('click', 'input[name="demo"]', function () {
            $('input[name="txtAccount"]').val("accoutfortest");
            $('input[name="txtPassword"]').val("tEST01");
        })

    </script>
}