<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title"><a asp-controller="Front_Home" asp-action="Index"><img src="~/Front/images/logo/logo.png" alt="Site Logo" width="190" height="50" /></a></h2>
                    @*<ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Login</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Login Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 m-auto">
                <div class="login-wrapper">

                    <!-- Login Title & Content Start -->
                    <div class="section-content text-center m-b-30">
                        <h2 class="title m-b-10">登入</h2>
                    </div>
                    <!-- Login Title & Content End -->
                    <!-- Form Action Start -->
                    <form action="#" method="post">

                        <!-- Input Email Start -->
                        <div class="form-floating single-input-item m-b-10">
                            <input class="form-control" type="text" name="txtAccount" placeholder="Email 或 帳號">
                            <label for="txtAccount">Email 或 帳號</label>
                        </div>
                        <!-- Input Email End -->
                        <!-- Input Password Start -->
                        <div class="form-floating single-input-item m-b-10">
                            <input class="form-control" type="password" name="txtPassword" placeholder="輸入密碼">
                            <label for="txtPassword">輸入密碼</label>
                        </div>
                        <!-- Input Password End -->
                        <!-- Button/Forget Password Start -->
                        <div class="single-input-item m-b-15">
                            <div class="login-reg-form-meta m-b-n15">
                                <button class="btn btn btn-gray-deep btn-hover-primary m-b-15">登入</button>

                                <a href="#" class="forget-pwd m-b-15">忘記密碼?</a>

                            </div>
                        </div>
                        <!-- Button/Forget Password End -->
                        <!-- Lost Password & Creat New Account Start -->
                        <div class="lost-password">
                            <a href="~/Empty_Signup/index">建立帳號</a>
                        </div>
                        <!-- Lost Password & Creat New Account End -->

                    </form>
                    <!-- Form Action End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Section End -->