<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IPET 寵物愛心公益平台</title>

    <!--Favicons-->
    <link rel="shortcut icon" href="~/Front/images/favicon2.ico">

    <!--Vendor CSS (Icon Font)-->
    <link rel="stylesheet" href="~/Front/css/vendor/fontawesome.min.css" />
    <script src="https://kit.fontawesome.com/cfd6e1f3d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Front/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Front/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/Front/css/vendor/simple-line-icons.min.css" />
    <link rel="stylesheet" href="~/Front/css/vendor/themify-icons-min.css" />

    <!--Plugins CSS (All Plugins Files)-->
    <link rel="stylesheet" href="~/Front/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/lightgallery.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/aos.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/nice-select.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/plugins.min.css" />

    <link rel="stylesheet" href="~/Front/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="~/Front/css/plugins/plugins.min.css">

    <!--Main Style CSS-->
    <link rel="stylesheet" href="~/Front/css/style.css" />


    @await RenderSectionAsync("Styles", required: false)


</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- Vendor JS -->

    <script src="~/Front/js/vendor/popper.min.js"></script>
    <script src="~/Front/js/vendor/bootstrap.min.js"></script>
    <script src="~/Front/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/Front/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/Front/js/vendor/modernizr-3.11.2.min.js"></script>

    <!-- Plugins JS -->

    <script src="~/Front/js/plugins/aos.min.js"></script>
    <script src="~/Front/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="~/Front/js/plugins/jquery-ui.min.js"></script>
    <script src="~/Front/js/plugins/nice-select.min.js"></script>
    <script src="~/Front/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/Front/js/plugins/countdown.min.js"></script>
    <script src="~/Front/js/plugins/lightgallery-all.min.js"></script>


    <!--Main JS-->
    <script src="~/Front/js/main.js"></script>

    <!--My Tooltip JS-->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
