<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPET 寵物店</title>

    <!--Favicons-->
    <link rel="shortcut icon" href="~/Front/images/favicon2.ico">

    <!--Vendor CSS (Icon Font)-->
    <link rel="stylesheet" href="~/Front/css/vendor/fontawesome.min.css" />
    <script src="https://kit.fontawesome.com/cfd6e1f3d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Front/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Front/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/Front/css/vendor/simple-line-icons.min.css" />
    <link rel="stylesheet" href="~/Front/css/vendor/themify-icons-min.css" />

    <!--Plugins CSS (All Plugins Files)-->
    <link rel="stylesheet" href="~/Front/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/lightgallery.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/aos.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/nice-select.min.css" />
    <link rel="stylesheet" href="~/Front/css/plugins/plugins.min.css" />

    <link rel="stylesheet" href="~/Front/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="~/Front/css/plugins/plugins.min.css">

    <!--Main Style CSS-->
    <link rel="stylesheet" href="~/Front/css/style.css" />


</head>
<body>
    <!-- Header Section Start -->
    <div class="header">

        <!-- Header Top Start -->
        <div class="header-top bg-name-primary">
            <div class="container">
                <div class="row align-items-center">

                    <!-- Header Top Message Start-->
                    <div class="col-12 col-lg-6">
                        <div class="header-top-msg-wrapper">
                            <p class="header-top-message">歡迎光臨 !</p>
                        </div>
                    </div>
                    <!-- Header Top Message End -->

                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Header Bottom Start -->
        <div class="header-bottom">
            <div class="header-sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">

                        <!-- Header Logo Start -->
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="header-logo">
                                <a asp-controller="Front_Home" asp-action="Index"><img src="~/Front/images/logo/logo.png" alt="Site Logo" /></a>
                            </div>
                        </div>
                        <!-- Header Logo End -->
                        <!-- Header Menu Start -->
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="main-menu">
                                <ul>
                                    <li><a asp-controller="Front_Home" asp-action="Index">首頁</a></li>
                                    <li><a asp-controller="Front_Blog" asp-action="Index">部落格</a></li>
                                    <li><a asp-controller="Front_Project" asp-action="Index">募集專案</a></li>
                                    <li><a asp-controller="Front_Product" asp-action="Index">寵物商品</a></li>
                                    @* <div class="dropdown">
                                            <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" asp-controller="Front_Product" asp-action="Index">
                                                寵物商品
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="1">寵物飼料</a>
                                                </li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="2">寵物罐罐</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="3">寵物零食</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="4">貓砂尿布</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="5">寵物保健</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="6">抓板玩具</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="7">美容護理</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="8">環境清潔</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="9">居家用品</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="10">外出用品</a></li>
                                                <li><a class="dropdown-item" asp-controller="Front_Product" asp-action="ProductList" asp-route-categoryId="13">捐贈商品</a></li>
                                            </ul>
                                        </div>*@
                                    <li><a asp-controller="Front_PetAdopt" asp-action="Index">認養資訊</a></li>
                                    <li><a asp-controller="Front_Contact" asp-action="Index">聯絡我們</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Header Menu End -->
                        <!-- Header Action Start -->
                        <div class="col-lg-3 col-md-8 col-6">
                            <div class="header-actions">

                                <!-- Header Action Search Button Start -->
                                <div class="header-action-btn header-action-btn-search d-none d-md-flex">
                                    <div class="action-execute">
                                        <a class="action-search-open" href="javascript:void(0)"><i class="icon-magnifier icons"></i></a>
                                        <a class="action-search-close" href="javascript:void(0)"><i class="ti-close"></i></a>
                                    </div>
                                    <!-- Search Form and Button Start -->
                                    <form class="header-search-form" action="#">
                                        <input type="text" class="header-search-input" placeholder="搜尋">
                                        <button class="header-search-button"><i class="icon-magnifier icons"></i></button>
                                    </form>
                                    <!-- Search Form and Button End -->
                                </div>
                                <!-- Header Action Search Button End -->
                                <!-- Header My Account Button Start -->
                                <a asp-controller="Front_Myaccount" asp-action="Index" class="header-action-btn header-action-btn-wishlist">
                                    <i class="icon-user icons"></i>
                                </a>
                                <!-- Header My Account Button End -->
                                <!-- Header Action Button Start -->
                                <div class="header-action-btn header-action-btn-cart d-none d-sm-flex">
                                    <a class="cart-visible" href="javascript:void(0)">
                                        <i class="icon-handbag icons"></i>
                                        <span class="header-action-num">4</span>
                                    </a>

                                    <!-- Header Cart Content Start -->
                                    <div class="header-cart-content">

                                        <!-- Cart Procut Wrapper Start  -->
                                        <div class="cart-product-wrapper">

                                            <!-- Cart Product/Price Start -->
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">

                                                <!-- Single Cart Product Start -->
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html"><img src="~/Front/images/demo/1.jpg" alt="Cart Product"></a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">室內成貓-貓飼料</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">數量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">$3050</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Cart Product End -->
                                                <!-- Product Remove Start -->
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="icon-close"></i></a>
                                                </div>
                                                <!-- Product Remove End -->

                                            </div>
                                            <!-- Cart Product/Price End -->
                                            <!-- Cart Product/Price Start -->
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">

                                                <!-- Single Cart Product Start -->
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html"><img src="~/Front/images/demo/2.jpg" alt="Cart Product"></a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">原肉零食大禮包(狗零食)</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">數量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">$500</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Cart Product End -->
                                                <!-- Product Remove Start -->
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="icon-close"></i></a>
                                                </div>
                                                <!-- Product Remove End -->

                                            </div>
                                            <!-- Cart Product/Price End -->
                                            <!-- Cart Product/Price Start -->
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">

                                                <!-- Single Cart Product Start -->
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html"><img src="~/Front/images/demo/3.jpg" alt="Cart Product"></a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">無穀全貓主食鮮味杯3.5oz【雞肉】(1入)(貓主食罐)</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">數量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">$80</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Cart Product End -->
                                                <!-- Product Remove Start -->
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="icon-close"></i></a>
                                                </div>
                                                <!-- Product Remove End -->

                                            </div>
                                            <!-- Cart Product/Price End -->
                                            <!-- Cart Product/Price Start -->
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">

                                                <!-- Single Cart Product Start -->
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html"><img src="~/Front/images/demo/4.jpg" alt="Cart Product"></a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">BESTBREED 全年齡犬</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">數量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">$2850</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Cart Product End -->
                                                <!-- Product Remove Start -->
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="icon-close"></i></a>
                                                </div>
                                                <!-- Product Remove End -->

                                            </div>
                                            <!-- Cart Product/Price End -->

                                        </div>
                                        <div style="margin-top:20px"></div>
                                        <!-- Cart Procut Wrapper -->
                                        <!-- Cart Product Total Start -->
                                        <div class="cart-product-total p-b-20 m-b-20 border-bottom">
                                            <span class="value">購物車總金額</span>
                                            <span class="price">$6540</span>
                                        </div>
                                        <!-- Cart Product Total End -->
                                        <!-- Cart Product Button Start -->
                                        <div class="cart-product-btn m-t-20">
                                            <a asp-controller="Front_Cart" asp-action="index" class="btn btn-outline-light btn-hover-primary w-100">檢 視 購 物 車</a>
                                            <a asp-controller="Front_Checkout" asp-action="index" class="btn btn-outline-light btn-hover-primary w-100 m-t-20">前 往 結 帳</a>
                                        </div>
                                        <!-- Cart Product Button End -->

                                    </div>
                                    <!-- Header Cart Content End -->

                                </div>
                                <div class="header-action-btn header-action-btn-cart d-flex d-sm-none">
                                    <a href="cart.html">
                                        <i class="icon-handbag icons"></i>
                                        <span class="header-action-num">0</span>
                                    </a>
                                </div>
                                <!-- Header Action Button End -->
                            </div>
                        </div>
                        <!-- Header Action End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->

    </div>
    <!-- Header Section End -->
    <div class="body-content">
        @RenderBody()
        <hr />
        <!-- Footer Section Start -->
        <footer class="section footer-section">
            <!-- Footer Top Start -->
            <div class="footer-top bg-name-bright section-padding">
                <div class="container">
                    <div class="row m-b-n40">
                        <div style="margin:0 auto;" class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1000">
                            <div class="single-footer-widget">
                                <h1 class="widget-title">關於我們</h1>
                                <p class="desc-content">
                                    IPET 寵物店 是一個線上商城及資訊平台, 除提供寵物產品購買及捐贈 , 也設有認養資訊頁面。
                                </p>
                                <p class="desc-content">
                                    我們也擁有部落格供會員分享寵物之生活事物, 藉由以上契機希望可以吸引各地善良人士,
                                    發揮愛心以達到本平台公益之目的。
                                </p>
                            </div>
                        </div>
                        <div style="margin:0 auto;" class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1500">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">友情連結</h2>
                                <ul class="widget-list">
                                    <li><a href="http://www.hsapf.org.tw/">財團法人流浪動物之家基金會</a></li>
                                    <li><a href="https://asms.coa.gov.tw/Amlapp/App/Default.aspx">全國推廣動物認養平台</a></li>
                                    <li><a href="http://www.meetpets.org.tw/pets/dog">台灣認養地圖</a></li>
                                </ul>
                            </div>
                        </div>
                        <div style="margin:0 auto;" class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="2000">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">優惠電子報</h2>
                                <div class="widget-body">
                                    <p class="desc-content m-b-20">訂閱 IPET 新消息取得優惠 !</p>
                                    <!-- Newsletter Form Start -->
                                    <div class="newsletter-form-wrap p-t-5">
                                        <form id="mc-form" class="mc-form">
                                            <input type="email" id="mc-email" class="form-control email-box" placeholder="mail@example.com" name="EMAIL">
                                            <button id="mc-submit" class="newsletter-btn" type="submit">Send</button>
                                        </form>
                                        <!-- mailchimp-alerts Start -->
                                        <div class="mailchimp-alerts text-centre">
                                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                            <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                            <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                                        </div>
                                        <!-- mailchimp-alerts end -->
                                    </div>
                                    <!-- Newsletter Form End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom bg-name-light p-t-20 p-b-20">
                <div class="container">
                    <div class="row align-items-center m-b-n20">
                        <div class="col-md-6 text-center text-md-start order-2 order-md-1 m-b-20">
                            <div class="copyright-content">
                                <p class="mb-0">© 2022 All rights reserved<strong> IPET 寵物店 </strong> By <a href="https://www.ispan.com.tw/">iSpan - MSIT133 </a></p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center text-md-end order-1 order-md-2 m-b-20">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer Section End -->
    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- Vendor JS -->

    <script src="~/Front/js/vendor/popper.min.js"></script>
    <script src="~/Front/js/vendor/bootstrap.min.js"></script>
    <script src="~/Front/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/Front/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/Front/js/vendor/modernizr-3.11.2.min.js"></script>

    <!-- Plugins JS -->

    <script src="~/Front/js/plugins/aos.min.js"></script>
    <script src="~/Front/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="~/Front/js/plugins/jquery-ui.min.js"></script>
    <script src="~/Front/js/plugins/nice-select.min.js"></script>
    <script src="~/Front/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/Front/js/plugins/countdown.min.js"></script>
    <script src="~/Front/js/plugins/lightgallery-all.min.js"></script>


    <script src="~/Front/js/vendor.min.js"></script>
    <script src="~/Front/js/plugins.min.js"></script>

    <!--Main JS-->
    <script src="~/Front/js/main.js"></script>

    <!-- Blog JS -->
    <script src="~/Front/js/Blog/PostTools.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>