@{
    ViewData["Title"] = "訂單管理";
}
<table id="orders" class="table table-bordered">
    <thead>
        <tr>
            <th>序號</th>
            <th>訂單編號</th>
            <th>會員姓名</th>
            <th>下單日期</th>
            <th>訂單金額</th>
            <th>訂單狀態</th>
            <th>明細/編輯/刪除</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>23</td>
            <td>Alex</td>
            <th>20220412</th>
            <th>12000</th>
            <th>已取消</th>
            <td>
                <button type="button" class="btn btn-secondary mr-3" data-bs-toggle="modal" data-bs-target="#detailModal">
                    <i class="fas fa-bars"></i>
                </button>
                <button type="button" class="btn btn-secondary mr-3" data-bs-toggle="modal" data-bs-target="#orderModal">
                    <i class="fas fa-pen-nib"></i>
                </button>
                <button type="button" class="btn btn btn-danger mr-3">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<!-- orderModal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:10%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂單修改 <span></span></h5>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <input type="hidden" name="ShipperID" id="ShipperID">
                    <div class="form-group">
                        <label for="CompanyName">訂單編號</label>
                        <input type="text" class="form-control" id="orderid" name="orderid" placeholder="訂單編號">
                    </div>
                    <div class="form-group">
                        <label for="CompanyName">下單日期</label>
                        <input type="text" class="form-control" id="orderid" name="orderid" placeholder="下單日期">
                    </div>
                    <div class="form-group">
                        <label for="CompanyName">訂單金額</label>
                        <input type="text" class="form-control" id="orderid" name="orderid" placeholder="訂單金額">
                    </div>
                    <div class="form-group">
                        <label for="CompanyName">訂單狀態</label>
                        <input type="text" class="form-control" id="orderid" name="orderid" placeholder="訂單狀態">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-action="Index">關閉</a>
                <a class="btn btn-danger" asp-action="Index">送出</a>
            </div>
        </div>
    </div>
</div>

<!-- detailModal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:10%">
    <div class="modal-dialog" role="document" style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂單資訊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序</th>
                            <th>圖片</th>
                            <th>商品名稱</th>
                            <th>單價</th>
                            <th>數量</th>
                            <th>總金額</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img class="img-thumbnail" src="~/Front/images/project/3.jpg" style="height:100px" /></td>
                            <td>貓食</td>
                            <td>500</td>
                            <td>1</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img class="img-thumbnail" src="~/Front/images/project/3.jpg" style="height:100px" /></td>
                            <td>狗食</td>
                            <td>200</td>
                            <td>2</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img class="img-thumbnail" src="~/Front/images/project/3.jpg" style="height:100px" /></td>
                            <td>狗食</td>
                            <td>200</td>
                            <td>2</td>
                            <td>400</td>
                        </tr>
                    </tbody>
                </table>
                總金額:1300<br />
                運送地址:<br />
                收件人:<br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>