@{
}
@section Scripts{
<script>
    $(document).ready(function(){
        getProductList(1);
    });
    var categoryId = -1;
    var pageSize = 9;
    function getProductList(page){
        $.ajax({
                method: "POST",
                url: "/Front_Product/ProductList",
                data: { 
                    CategoryId:categoryId,
                    Pagination:{
                        Page:page,
                        PageSize:pageSize
                    }
                },
                success:function(result){
                    $("#productList").html(result)
                }
            });
    }

    function getProductListWithCategory(id){
        categoryId = id;
        getProductList(1);
    }
</script>
}
<div>
    類別1, 類別2,.....
</div>
<div id="productList">

</div>