<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">會員中心</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- My Account Section Start -->
<div class="section section-margin">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <div class="row">

                        <!-- My Account Tab Menu Start -->
                        <div class="col-lg-3 col-md-4">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="#dashboad" class="active" data-bs-toggle="tab">
                                    <i class="fa fa-home"></i>
                                    IPET
                                </a>
                                <a href="#orders" data-bs-toggle="tab"><i class="fa fa-cart-arrow-down"></i> 訂單資訊</a>
                                <a href="#donate" data-bs-toggle="tab"><i class="fa fa-handshake-o"></i> 我的捐贈明細</a>
                                @*<a href="#adopt" data-bs-toggle="tab"><i class="fa fa-paw"></i> 我的認養明細</a>*@
                                <a href="#wishlist" data-bs-toggle="tab"><i class="fa fa-list-alt"></i> 我的願望清單</a>
                                <a href="#coupon" data-bs-toggle="tab"><i class="fa fa-usd"></i> 我的優惠券</a>
                                @*<a href="#reward" data-bs-toggle="tab"><i class="fa fa-product-hunt"></i> 我的積分</a>*@
                                <a href="#account-info" data-bs-toggle="tab"><i class="fa fa-user"></i> 個人資訊</a>
                                <a href="~/Empty_Signin/index"><i class="fa fa-sign-out"></i> 登出</a>
                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 col-md-8">
                            <div class="tab-content" id="myaccountContent">

                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">初次使用</h3>
                                        <div class="welcome">
                                            <p>Hello, <strong>there!</strong></p>
                                        </div>
                                        <p class="mb-0"></p>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">我的訂單</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            @*>>here*@
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>序號</th>
                                                        <th>訂單編號</th>
                                                        <th>下單日期</th>
                                                        <th>訂單金額</th>
                                                        <th>訂單狀態</th>
                                                        <th>檢視訂單明細</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>12</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>已取消</td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#orderModal">
                                                                檢視訂單資訊
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- orderModal -->
                                            <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:200px">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">訂單資訊</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>序</th>
                                                                        <th>圖片</th>
                                                                        <th>商品名稱</th>
                                                                        <th>單價</th>
                                                                        <th>數量</th>
                                                                        <th>總金額</th>
                                                                        <th>評價</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td><img class="img-thumbnail" src="~/Front/images/project/3.jpg"/></td>
                                                                        <td>貓食</td>
                                                                        <td>500</td>
                                                                        <td>1</td>
                                                                        <td>500</td>
                                                                        <td><button>評價</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td><img class="img-thumbnail" src="~/Front/images/project/3.jpg"/></td>
                                                                        <td>狗食</td>
                                                                        <td>200</td>
                                                                        <td>2</td>
                                                                        <td>400</td>
                                                                        <td><button>評價</button></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            總金額:900
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="donate" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">捐贈明細</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            @*>>here*@
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>訂單編號</td>
                                                        <td>訂單編號</td>
                                                        <td>訂單編號</td>
                                                        <td>訂單編號</td>
                                                        <td>訂單編號</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <!--<div class="tab-pane fade" id="adopt" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">認養明細</h3>
                                        <div class="myaccount-table table-responsive text-center">-->
                                @*>>here*@
                                <!--</div>
                                    </div>
                                </div>-->
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="wishlist" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">願望清單</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            @*>>here*@
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>商品編號</td>
                                                        <td>商品名稱</td>
                                                        <td>加入時間</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td><li class="fa fa-eye"></li></td>
                                                        <td><li class="fa fa-ban"></li></td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td><li class="fa fa-eye"></li></td>
                                                        <td><li class="fa fa-ban"></li></td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td><li class="fa fa-eye"></li></td>
                                                        <td><li class="fa fa-ban"></li></td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td><li class="fa fa-eye"></li></td>
                                                        <td><li class="fa fa-ban"></li></td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td><li class="fa fa-eye"></li></td>
                                                        <td><li class="fa fa-ban"></li></td>
                                                    </tr>
                                                    <tr>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td>166549</td>
                                                        <td><li class="fa fa-eye"></li></td>
                                                        <td><li class="fa fa-ban"></li></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="coupon" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">優惠券</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            @*>>here*@
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <!--<div class="tab-pane fade" id="reward" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">積分</h3>
                                        <div class="myaccount-table table-responsive text-center">-->
                                @*>>here*@
                                <!--</div>
                                    </div>
                                </div>-->
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="account-info" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3 class="title">會員資訊</h3>
                                        <div class="account-details-form">
                                            <form action="#">
                                                <div class="single-input-item m-b-15">
                                                    <label for="name" class="required m-b-10">姓名</label>
                                                    <input type="text" id="name" placeholder="姓名" />
                                                </div>
                                                <div class="single-input-item m-b-15">
                                                    <label for="email" class="required m-b-5">Email</label>
                                                    <input type="email" id="email" placeholder="Email" />
                                                </div>
                                                <div class="single-input-item m-b-15">
                                                    <label for="birth" class="required m-b-5">生日</label>
                                                    <input type="date" id="birth" placeholder="生日" />
                                                </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item m-b-15">
                                                                <label for="city" class="required m-b-10">縣市</label>
                                                                <select id="city"><option></option></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item m-b-15">
                                                                <label for="region" class="required m-b-10">鄉鎮區</label>
                                                                <select id="region"><option></option></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="single-input-item m-b-15">
                                                    <label for="address" class="required m-b-5">地址</label>
                                                    <input type="text" id="address" placeholder="地址" />
                                                </div>
                                                <fieldset>
                                                    <legend>密碼變更</legend>
                                                    <div class="single-input-item m-b-15">
                                                        <label for="current-pwd" class="required m-b-10">舊密碼</label>
                                                        <input type="password" id="current-pwd" placeholder="確認密碼" />
                                                    </div>
                                                    <div class="row m-b-n15">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item m-b-15">
                                                                <label for="new-pwd" class="required m-b-10">新密碼</label>
                                                                <input type="password" id="new-pwd" placeholder="請輸入新的密碼……" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item m-b-15">
                                                                <label for="confirm-pwd" class="required m-b-10">確認密碼</label>
                                                                <input type="password" id="confirm-pwd" placeholder="請確認是否與新密碼相符" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="single-input-item single-item-button m-t-30">
                                                    <button class="btn btn btn-primary btn-hover-dark rounded-0">確認變更</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- Single Tab Content End -->

                            </div>
                        </div>
                        <!-- My Account Tab Content End -->

                    </div>
                </div>
                <!-- My Account Page End -->

            </div>
        </div>

    </div>
</div>
<!-- My Account Section End -->